body {
    background-image: url("../media/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: 0px 0px !important;
    font-family: "Nunito", sans-serif;
}

ul,
li,
ol {
    list-style-type: none;
}

.sign-up {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.85);
    height: 400px;
    transform: translate(-50%, -50%);
    width: 600px;
    display: block;
}

.reg {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.85);
    height: 400px;
    transform: translate(-50%, -50%);
    width: 600px;
    display: none;
}

.result {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.85);
    height: 400px;
    transform: translate(-50%, -50%);
    width: 600px;
    display: none;
}

.quiz {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.85);
    height: 600px;
    transform: translate(-50%, -50%);
    width: 600px;
    display: none;
}

.mid-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question.done {
    pointer-events: none;
}

.mid-text ul li.done {
    pointer-events: none;
}

.mid-text ul li.success {
    background-color: rgba(82, 236, 68, 0.3);
}

.mid-text ul li.danger {
    background-color: rgba(253, 45, 45, 0.3);
}

.mid-text .submit {
    display: none;
}

.sign-up h1 {
    font-weight: bolder;
}

input[type="text"] {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid;
    padding: 15px 20px 15px 80px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #00769a;
    color: rgb(34, 34, 34);
}

input[type="text"]:focus,
input[type="text"]:focus-visible,
input[type="text"]:focus-within {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid;
    padding: 15px 20px 15px 80px;
    border-radius: 3px;
    border: 2px solid;
    border-color: #035e7a;
    color: rgb(34, 34, 34);
}

.quiz ul {
    margin-left: 0px;
    padding-left: 0px;
    color: rgb(34, 34, 34);
}

.quiz ul li {
    border: 1px solid #00769a;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 5px;
    margin-bottom: 10px;
    color: rgb(34, 34, 34);
    cursor: pointer;
}

.quiz ul li span {
    border: 1px solid #00769a;
    padding: 10px 20px;
    margin-right: 10px;
}